<p><%= @parsed_feed.title %></p>
<p>このサイトを購読しますか？</p>
<%= form_for @feed do |f| %>
  <%= f.hidden_field :title, :value => @parsed_feed.title %>
  <%= f.hidden_field :url, :value => @parsed_feed.url %>
  <%= f.hidden_field :rss_url, :value => @url%>

  <%= f.submit "登録する" %>
<% end %>
